<div class="row">
	<div class="col-md-5 mt-2 devoured-border">
		<h4 class="burger-color">{{burger_name}}</h4>
	</div>

	<div class="col-md-4 mt-2 devoured-border">
	<!--Devour me button-->
	<button class="change-devour btn btn-primary button-color" data-id="{{id}}" data-newdevour="{{devour}}"><i class="fas fa-utensils"></i> Devour me </button>
	</div>
</div>