<div class="row">
    <div class="col-md-5 mt-2 devoured-border">
        <h4 class="devoured-burger-name burger-color">{{burger_name}}</h4>
    </div>

    <div class="col-md-4 mt-2 devoured-border">
        <!--Throw away burger button-->
        <button class="delete-burger btn btn-primary  button-color" data-id="{{this.id}}"><i class="fas fa-trash"></i> Throw away</button>

    </div>
</div>